{% extends 'base.html' %}
{% load static %}
{% block content %}
    <hr>
    <link rel="stylesheet" href="{% static 'css/style_sinikon_standart.css' %}">

    <section id="works2">
        <div id="overlay">
            <div class="header">
                <div class="header-card">
                    <img src="{% static 'img/Sinikon/sinikon_standart_logo.png' %}" alt="Sinikon Standart Логотип">
                </div>
            </div>

            <div class="header-card">
                <h1>СИНИКОН Стандарт – полипропиленовая система внутренней канализации</h1>
                <p>В настоящее время все чаще как при новом строительстве, так и при реконструкции существующих сетей,
                    используются трубопроводные системы из полипропилена.</p>

                <p>Такая популярность полипропиленовых труб и фитингов обусловливается их неоспоримыми преимуществами
                    по сравнению с традиционными материалами (чугун, сталь, медь, железобетон, полиэтилен).</p>

                <p>Завод «Синикон» выпускает широккий ассортимент труб и фитингов системы СИНИКОН Стандарт
                    для безнапорных трубопроводных систем внутренней бытовой
                    канализации, обладающие рядом неоспоримых достоинств.</p>
            </div>

            <div class="advantages">
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>ГОСТ и EN-1451</h3>
                        <p>СИНИКОН Стандарт выпускается в соответствии с российским ГОСТ 32414-2013
                                и европейским EN 1451-1</p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/gost.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Простой и быстрый монтаж</h3>
                        <p>Монтаж ведется быстро, без применения тяжелого оборудования и техники</p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/kreplenie-2.jpg' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Повышенная химическая стойкость</h3>
                        <p>Система может применяться при транспортировке сточных вод в
                            широком диапазоне pH от 2 до 12</p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/sinikon_standart2.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Надежность</h3>
                        <p>
                            Трубы и соединительные элементы имеют раструбную конструкцию и укомплектованы
                            специальными уплотнительными кольцами, что повышает скорость монтажа в 5-6 раз
                            и обеспечивает высокую надежность и герметичность соединения
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/naruzhnaya-kanalizaczionnaya-sistema.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Экономия</h3>
                        <p>
                            На канализационных трубопроводах, соединяемых с помощью раструбов с резиновыми
                            уплотнительными кольцами, и, следовательно, воспринимающих температурные удлинения,
                            установка дополнительных компенсаторов не требуется
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/13.06-2-Photoroom.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Абразивная стойкость</h3>
                        <p>
                            Большая устойчивость на истирание
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/depositphotos_250218460-stock-photo-plumbing-sewage-gray-polypropylene-tubes-Photoroom.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Срок эксплуатации</h3>
                        <p>
                            Не менее 50 лет
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/1253977.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Диэлектрические свойства</h3>
                        <p>
                            Полипропилен является диэлектриком в отличие от металлических трубопроводов,
                            подверженных действию блуждающих токов, что приводит к их коррозии
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/sinikon-standart.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>



                <div class="price_sinikon">
                    <a href="{% url 'download_document_fusitek' 'Fusitek' %}">
                        <img src="{% static 'img/Sinikon/sinikon_standart_logo.png' %}" alt="Sinikon"
                             style="width: 400px; height: auto; display: block; margin: 0 auto;">
                        <h3 style="text-align: center;">Скачать прайс Sinikon Standart</h3>
                    </a>
                </div>

            </div>

    </section>

    <hr>

{% endblock content %}