{% extends 'base.html' %}
{% load static %}
{% block content %}
    <hr>
    <link rel="stylesheet" href="{% static 'css/style_sinikon_universal.css' %}">

    <section id="works2">
        <div id="overlay">
            <div class="header">
                <div class="header-card">
                    <img src="{% static 'img/Sinikon/sinikon_universal_logo.png' %}" alt="Sinikon Universal Логотип">
                </div>
            </div>

            <div class="header-card">
                <h1>СИНИКОН Универсал – система наружной канализации</h1>
                <p>
                    Системы наружной канализации - важный элемент как городской среды, так и частного строительства.
                    От качества и долговечности материалов, использованных при монтаже наружной канализации,
                    зависят удобство проживания, сроки эксплуатации и экология окружающей среды. Нарушение работы
                    канализационных систем может значительно ухудшить качество жизни людей и создать проблемы как
                    городским службам, так и владельцам частных домов.
                </p>

                <p>
                    Не зря говорят: "Качество - в мелочах". Использование современных труб и фитингов из полипропилена
                    может избавить от многих проблем в будущем.
                </p>

                <p>
                    Канализационные трубы Синикон обладают рядом преимуществ по сравнению с "традиционными" материалами.
                    Созданные из высококачественного полипропилена, трубы и фитинги являются наиболее оптимальным
                    решением для систем наружной канализации.
                </p>
            </div>

            <div class="advantages">
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Выдерживают большие перепады температур</h3>
                        <p>
                            Монтаж труб можно вести при температуре до -10°C
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/2316581.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Простой и быстрый монтаж</h3>
                        <p>
                            Необходимо меньше времени для монтажа системы большей протяженности. При монтаже не
                            требуются
                            специальные инструменты.
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/kreplenie-2.jpg' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Низкий уровень шума</h3>
                        <p>
                            Уровень шума от функционирования системы снижен за счет увеличенной толщины стенок
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/678424.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Долговечность</h3>
                        <p>
                            Срок эксплуатации: не менее 50 лет
                        </p>
                    </div>
                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/naruzhnaya-kanalizaczionnaya-sistema.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Надежность</h3>
                        <p>
                            Использование немецкого двухлепесткового уплотнения обеспечивает надежность стыков и защиту
                            от протечек
                        </p>
                    </div>

                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/1253977.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>
                <div class="card"
                     style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                    <div class="card-text" style="flex: 1;">
                        <h3>Не подвержены коррозии</h3>
                        <p>
                            В отличие от других водостоков
                        </p>
                    </div>

                    <div class="card-image" style="padding-right: 10px;">
                        <img src="{% static 'img/Sinikon/no_corrosia-Photoroom.png' %}"
                             style="max-width: 180px; height: auto; margin-top: 30px;">
                    </div>
                </div>


                <div class="price_sinikon">
                    <a href="{% url 'download_document_fusitek' 'Fusitek' %}">
                        <img src="{% static 'img/Sinikon/sinikon_universal_logo.png' %}" alt="Sinikon"
                             style="width: 400px; height: auto; display: block; margin: 0 auto;">
                        <h3 style="text-align: center;">Скачать прайс Sinikon Universal</h3>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <hr>

{% endblock content %}